@import "styles";

.input {
  display: block;
  width: 100%;
  padding: $sp-2 $sp-3;
  border-radius: $border-radius;
  border: 1px solid $color-border;

  &:focus {
    outline: none;
    border-color: $color-primary;
  }

  &::placeholder {
    color: $color-placeholder;
  }
}