// COLORS
$color-primary: #365aaf;
$color-error: #cc472a;
$color-border: #c1c1c1;
$color-placeholder: #d1d1d1;
$color-lite-hover: #f1f1f1;

// SPACING
$sp-1: 2px;
$sp-2: 6px;
$sp-3: 10px;
$sp-4: 14px;
$sp-5: 20px;

// TYPOGRAPHY
$text-title: 24px;
$text-subtitle: 18px;
$text-regular: 14px;
$text-small: 12px;
$font-title: moomin, sans-serif;
$font-regular: sans-serif;

// GENERAL
$border-radius: 6px;
$box-shadow: 0 0 6px rgba(0, 0, 0, .2);