@import 'styles';

@font-face {
  font-family: "moomin";
  src: url("assets/fonts/moominfont-webfont.woff") format("woff");
}

body {
  margin: 0;
  font-family: $font-regular;
  font-size: $text-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: $font-title;
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: $border-radius;
  }
}
