@import 'styles';

.trigger {
  width: 100%;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding: $sp-2 24px $sp-2 $sp-3;
  cursor: pointer;
  position: relative;

  &:focus {
    outline: none;
    border-color: $color-primary;
  }

  .placeholder {
    color: $color-placeholder;
    user-select: none;
  }

  .value {
    display: flex;
    gap: $sp-2 $sp-3;
    white-space: nowrap;
    flex-wrap: wrap;
  }

  .tag {
    border-radius: $border-radius;
    background-color: $color-lite-hover;
    border: 1px solid $color-border;
    padding: $sp-1 $sp-2;
    margin: -$sp-1 0;
    font-size: $text-small;
    user-select: none;
  }

  .arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $sp-2;
    width: 14px;
    height: 14px;
    margin: auto;
    transform: rotate(90deg);
    transition: transform .3s ease;

    path {
      fill: $color-border;
    }

    &.open {
      transform: rotate(-90deg);
    }
  }
}